@tailwind base;
@tailwind components;
@tailwind utilities;


img, svg {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

a {
  color: #800000;
  text-decoration: underline;
}

p {
  line-height: 1.3em;
  font-size: 19px;
  font-family: 'Georgia', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

@media (max-width: 768px) {
 p {
  font-size: 17px;
 }
}

@keyframes float {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}
